<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UserHeaderUrl</key>
		<string>http://up.enterdesk.com/edpic/20/3b/89/203b89dd4fee1cdbdd2b8f61e3262c74.jpg</string>
		<key>UserNameString</key>
		<string>我真的是醉了</string>
		<key>DeviceTypeString</key>
		<string>iPhone 5s</string>
		<key>ContentLabelString</key>
		<string>计算(CPU)密集型的线程恰好在某时因为发生一个页错误或者因其他原因而暂停，刚好有一个“额外”的线程，可以确保在这种情况下CPU周期不会中断工作。</string>
		<key>ContentImageArray</key>
		<array>
			<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1803532632,2564827444&amp;fm=26&amp;gp=0.jpg</string>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1593842909275&amp;di=160f40a15c13d8306bbe0eb9770b758b&amp;imgtype=0&amp;src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fw%3D580%2Fsign%3De1ac1215b3b7d0a27bc90495fbee760d%2F0421dd54564e92589d91f8499d82d158cdbf4ef5.jpg</string>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1593842895380&amp;di=0265b5f0c2718d3013b5b8b96db61444&amp;imgtype=0&amp;src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20180522%2F2078874e080f4e479ec478a2922ff7f3.jpeg</string>
		</array>
	</dict>
</array>
</plist>
